doctype html
html
    style 
        include style.css
    body 
        h1(class='title')=title
        div(class='google')
            script(src='https://accounts.google.com/gsi/client', async)
            div(
                id='g_id_onload'
                data-client_id=AUTH_GOOGLE_ID
                data-login_uri=AUTH_GOOGLE_REDIRECT
                data-auto_prompt="false"
            )
            div(
                class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left"
            )
        